In [1]:
import pandas as pd
import time
import numpy as np
import os
import random
from datetime import datetime

In [2]:
TESTING_FOLDER_PATH = "E:/AI-VR dataset/Testing"

In [3]:
size = 30000
pick_size = 5000

# Creating a thousand folders in the destination.
for i in range(size):
    os.makedirs(f"{TESTING_FOLDER_PATH}/{i}", exist_ok=True) 

random.seed(123)


# Let's generate a thousand features
data_list = []
for i in range(size):
    data_list.append(
        {
            "idx":i,
            "a": random.randint(-9e+10, 9e+10),
            "b": random.randint(-9e+10, 9e+10),
            "c": random.randint(-9e+10, 9e+10),
            "e": random.randint(-9e+10, 9e+10),
            "f": random.randint(-9e+10, 9e+10),
        }
    )


for data in data_list:

    ### Make the folder
    os.makedirs(f"{TESTING_FOLDER_PATH}/{data['idx']}", exist_ok=True) 
    pd.DataFrame([data_list[0]]).to_csv(f"{TESTING_FOLDER_PATH}/{data['idx']}/data.csv")
    ### store the data inside the folder with the name data.csv

pd.DataFrame(data_list).to_csv(f"{TESTING_FOLDER_PATH}/total_data.csv")

In [12]:
pick_idx = list(np.random.choice(list(range(size)), size=20000, replace=False))

In [13]:
# load df
total_df = pd.read_csv(f"{TESTING_FOLDER_PATH}/total_data.csv")
total_df[[idx in pick_idx for idx in total_df['idx']]]

,Unnamed: 0,idx,a,b,c,e,f
0,0,0,-16760656026,-15236465913,13243083861,62626825596,1621091465
1,1,1,-73455413937,-54954516840,61772189885,-45997358452,15645885251
3,3,3,29877478805,41311787856,39988566917,-77811580128,-5093673078
4,4,4,53209079504,42291420515,84413908270,66882592321,-88645955067
6,6,6,24540207432,49047511640,89332808239,-65002473500,47068065501
...,...,...,...,...,...,...,...
29993,29993,29993,-81687238735,76240579981,-64544000173,-5603047016,-51043408460
29995,29995,29995,12850596279,21065820385,-64327079562,-50536000605,-60191470345
29996,29996,29996,-75101863304,84676776417,-14071083183,-31001382486,-75766977060
29997,29997,29997,-6619450435,32284460012,71606532888,-7701974698,25214783102
29998,29998,29998,66895621731,44403755517,-13746333465,59887361368,-81964520837

In [14]:
all_dfs = []
for i in pick_idx:
    all_dfs.append(pd.read_csv(f"{TESTING_FOLDER_PATH}/{i}/data.csv"))
    
concated_df = pd.concat(all_dfs)

In [15]:
24.8/39.4

0.6294416243654822

0.798941798941799